.nav-tabs {
    margin-bottom: 15px;
}
.required-container label:after{
    color: #c9302c;
    content: '*';
    padding-left: 2px;
}

.control-label {
    text-align: right;
}

.glyphicon-plus {
    color: #27ae60;
}

.pointer {
    cursor: pointer;
}

.list-group-item.workout:hover {
    background-color: #50A6EC;
}

.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

button.close-modal-button {
    padding-right: 20px;
    padding-top: 5px;
}

.workout-history-table-col-1 {
    width: 25%;
}

