<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-ng-app="workoutApp">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Workouts!</title>
    <base href="/workout/" />


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />

    <!-- Application Styling -->
    <link rel="stylesheet" href="/workout/static/css/workout.css" />
</head>
<body>
    <div th:replace="fragments/_banner"></div>

    <div class="container" data-ng-controller="TabsController">
        <tabset>
            <tab ng-repeat="tab in tabs" heading="{{tab.label}}" select="navigateToTab(tab.link)">
               <div data-ng-view=""></div>
            </tab>
        </tabset>
    </div>

    <div th:replace="fragments/_footer"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular-route.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.js"></script>
    <script src="/workout/static/js/app.js"></script>
    <script src="/workout/static/js/directives.js"></script>
</body>
</html>