<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Workout Categories</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="form-inline">
                <div data-input-field data-ng-model="workoutCategory.description" data-input-label="Workout Category"></div>
                <button class="btn btn-default btn-primary" data-ng-click="addWorkoutCategory(workoutCategory);">Add Workout Category</button>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4" data-ng-repeat="workoutCategory in workoutCategories | orderBy: 'description'">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info" data-ng-click="workCategory.collapseTypes = !workCategory.collapseTypes">
                        <span class="caret"></span> {{workoutCategory.description}} <span class="badge">{{workoutCategory.workoutTypes.length}}</span>
                    </li>
                    <li class="list-group-item" collapse="workCategory.collapseTypes" data-ng-repeat="workoutType in workoutCategory.workoutTypes | orderBy: 'description'" data-ng-cloak>{{workoutType.description}}</li>
                    <li class="list-group-item" collapse="workCategory.collapseTypes">
                        <div class="row">
                            <div class="col-sm-6">
                                <input class="form-control" type="text" data-ng-model="workoutCategory.newWorkoutType.description" />
                            </div>
                            <div class="col-sm-4">
                                <button class="btn btn-default" data-ng-click="addWorkoutType(workoutCategory)"><span class="glyphicon glyphicon-plus green"></span> {{workoutCategory.description}} Type</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
