<div class="form-section">
    <section class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="form-horizontal">
                <div data-input-field data-ng-model="user.userName" data-input-label="Username" data-on-enter="login()"></div>
                <div data-input-field data-input-type="password" data-ng-model="user.password" data-input-label="Password" data-on-enter="login()"></div>
            </div>
            <div class="row" data-ng-show="usernamePasswordError">
                <div class="alert alert-danger" data-ng-cloak>{{errorMessage}}</div>
            </div>
            <div class="row">
                <div class="col-sm-12 margin-top">
                    <div class="pull-right">
                        <button class="btn btn-primary" data-ng-click="login()">Login</button>
                    </div>
                </div>
                <div class="col-sm-12 margin-top">
                    <div class="pull-right">
                        <a href="new-user" >Need an account?</a> |  <a href="javascript:void(0)" >Forget your password?</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>