<div class="form-section">
    <section class="row">
        <div class="col-md-offset-3 col-md-6 col-sm-12">
            <form name="newUserForm" data-bos-form data-on-form-submit="register()">
                <div class="form-horizontal">
                    <div data-input-field data-ng-model="newUser.userName" data-input-label="Username" data-required="true" data-input-min="5"></div>
                    <div data-input-field data-ng-model="newUser.firstName" data-input-label="First Name" data-required="true"></div>
                    <div data-input-field data-ng-model="newUser.lastName" data-input-label="Last Name" data-required="true"></div>
                    <div data-input-field data-input-type="password" data-input-mask="password" data-ng-model="newUser.password" data-input-label="Password" data-required="true" data-input-min="5"></div>
                    <div data-input-field data-input-type="password" data-input-mask="confirmPassword" data-password-model="newUser.password" data-ng-model="newUser.confirmPassword" data-input-label="Confirm Password" data-required="true" data-input-min="5"></div>

                    <div data-input-field data-ng-model="newUser.email" data-input-label="Email" data-input-type="email" data-required="true"></div>
                    <div data-input-field data-ng-model="newUser.phone" data-input-mask="telephone" data-input-label="Phone"></div>
                </div>
                <div class="pull-right margin-top">
                    <div data-submit-button data-button-text="Register" data-disable-button="newUserForm.$invalid || newUserForm.$pristine"></div>
                </div>
            </form>
        </div>
    </section>
</div>