<div class="row">
    <div class="btn-group pull-right" role="group" aria-label="...">
        <button type="button" class="btn btn-default" data-ng-repeat="viewByOption in viewByOptions"
            data-ng-class="{'btn-primary active': viewByOption.selected, 'btn-info': !viewByOption.selected}"
            data-ng-click="setViewBy(viewByOption)" data-ng-cloak>{{viewByOption.display}}</button>
    </div>
</div>
<table class="table table-hover table-bordered table-striped">
    <thead>
    <tr>
        <th class="workout-history-table-col-1">
            <span>Date</span>
            <span data-ng-show="isBeingFilteredBy('date')" data-ng-click="clearFilter('date')" class="glyphicon glyphicon-remove"></span>
        </th>
        <th>Workout Category</th>
        <th>Workout Type</th>
        <th>Duration</th>
        <th>Distance</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="has-feedback">
                    <input date-range-picker class="form-control date-picker" options="dateRangeOptions" type="text" placeholder="MM-DD-YYYY to MM-DD-YYYY" ng-model="filters.date" />
                    <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
                </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr data-ng-repeat="workout in filteredWorkouts | orderBy:'date'" data-ng-cloak>
            <td>{{workout.date | date:'MM-dd-yyyy'}}</td>
            <td>{{workout.workoutCategory.description}}</td>
            <td>{{workout.workoutType.description}}</td>
            <td>{{workout.duration}} minutes</td>
            <td>{{workout.distance}} miles</td>
        </tr>
    </tbody>
</table>
