<div class="modal-header">
    <button class="btn btn-default btn-sm pull-right close" data-ng-click="closeWorkoutModal();" aria-hidden="true"> <span class="glyphicon glyphicon-remove-circle"></span></button>
    <h3 class="modal-title">Add a Workout</h3>
</div>
<div class="modal-body">
    <div class="form-section">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-horizontal">
                    <div data-select-field data-input-label="Workout Category" data-ng-model="workout.workoutCategory"
                         data-options="workoutCategories" data-option-label="description"
                         data-null-option-label="-- Workout Category --" data-required="true"></div>

                    <div data-select-field data-input-label="Workout Type" data-ng-model="workout.workoutType"
                         data-options="workout.workoutCategory.workoutTypes" data-option-label="description"
                         data-null-option-label="-- Workout Type --" data-required="true"></div>

                    <div data-input-field data-input-type="date" data-input-mask="date" data-ng-model="workout.date" data-input-label="Date"></div>

                    <div data-input-field data-input-type="number" data-ng-model="workout.duration" data-input-label="Duration" data-input-min="0"></div>
                    <div data-input-field data-ng-model="workout.distance" data-input-label="Distance"></div>

                    <div data-textarea-field data-input-label="Description" data-ng-model="workout.description"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-sm-offset-7 col-sm-4 margin-bottom">
            <button class="btn btn-warning" data-ng-click="closeWorkoutModal()">Cancel</button>
            <button class="btn btn-primary" data-ng-click="addWorkout(workout);">Add</button>
        </div>
    </div>
</div>